NEXT_PUBLIC_CONTRACT_ADDRESS=0xe6Bb89943c731aaA6552c7F38c3c724af6BE6B15
NEXT_PUBLIC_LIGHTHOUSE_API_KEY=22338040.a7b97b3ea6194ff6af53ba587b89f3cf
NEXT_PUBLIC_POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology/
